body {
    background-color: rgb(126, 221, 255);
}

.heading {
    text-align: center;
    width: 100%;
    height: fit-content;
}

#heading-img {
    margin: 25px 0;
    height: 100px;
    width: 600px;
}

.bg {
    position: relative;
    background-image: url('../images/burger-bg.png');
    background-size: cover;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    z-index: 1;
}

main {
    position: relative;
    width: 800px;
    margin: 0 auto;
    z-index: 2;
}

.input-div {
    padding-top: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    height: 100px;
}

.input-div h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 0 0 10px 0;
}

.input-div input {
    border: none;
    font-size: 25px;
    height: 30px;
    vertical-align: top;
}

.input-div button {
    border: none;
    background-color: rgb(48, 181, 48);
    color: white;
    height: 32px;
    width: 30px;
    vertical-align: top;
    margin-left: -20px;
    cursor: pointer;
}

.burger-lists {
    width: fit-content;
    margin: 0 auto;
}

.burger-lists h2 {
    margin-top: 0;
    color: rgb(15, 70, 147);
    text-shadow: 3px -2px rgb(249, 249, 249);
}

.burger-lists ul {
    list-style-type: none;
    padding: 0;
}

.burger-lists li {
    line-height: 2em;
}

.burger-lists p {
    display: inline-block;
    background-color: white;
    width: 300px;
    vertical-align: top;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
}

.burger-lists button {
    border: none;
    color: white;
    height: 42px;
    width: 42px;;
    vertical-align: top;
    margin-left: -20px;
    cursor: pointer;
}

.to-eat button {
    background-color:rgb(29, 83, 158);
}

.eaten button {
    background-color: rgb(220, 60, 60);
}

.to-eat, .eaten {
    display: inline-block;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.4);
    font-family: 'Courier New', Courier, monospace;
    width: 350px;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
}

.to-eat {
    margin-right: 10px;
}

.to-eat form {
    display: inline-block;
}