body {
    background-color: rgb(126, 221, 255);
}

.bg {
    position: relative;
    background-image: url('../images/burger-bg.png');
    background-size: cover;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    z-index: 1;
}

main {
    position: relative;
    width: 800px;
    margin: 0 auto;
    z-index: 2;
}

.heading {
    text-align: center;
    width: 100%;
    height: fit-content;
}

#heading-img {
    margin: 25px 0;
    height: 100px;
    width: 600px;
}