body {
    background-color: rgb(126, 221, 255);
}

.heading {
    text-align: center;
    width: 100%;
    height: fit-content;
}

#heading-img {
    margin: 25px 0;
    height: 100px;
    width: 600px;
}

.bg {
    position: relative;
    background-image: url('../images/burger-bg.png');
    background-size: cover;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    z-index: 1;
}

main {
    position: relative;
    width: 800px;
    margin: 0 auto;
    z-index: 2;
}

.input-div {
    padding-top: 60px;
    text-align: center;
}

.input-div h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 0 0 10px 0;
}

.input-div input {
    border: none;
    font-size: 25px;
    height: 30px;
    vertical-align: top;
}

.input-div button {
    border: none;
    background-color: rgb(48, 181, 48);
    color: white;
    height: 32px;
    width: 30px;
    vertical-align: top;
    margin-left: -20px;
    cursor: pointer;
}